#### Import some libraries that i will use during this data cleaning!

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#bring data to the game!!
df_cafe = pd.read_csv('dirty_cafe_sales.csv')
print(df_cafe)

     Transaction ID      Item Quantity Price Per Unit Total Spent  \
0       TXN_1961373    Coffee        2            2.0         4.0
1       TXN_4977031      Cake        4            3.0        12.0
2       TXN_4271903    Cookie        4            1.0       ERROR
3       TXN_7034554     Salad        2            5.0        10.0
4       TXN_3160411    Coffee        2            2.0         4.0
...             ...       ...      ...            ...         ...
9995    TXN_7672686    Coffee        2            2.0         4.0
9996    TXN_9659401       NaN        3            NaN         3.0
9997    TXN_5255387    Coffee        4            2.0         8.0
9998    TXN_7695629    Cookie        3            NaN         3.0
9999    TXN_6170729  Sandwich        3            4.0        12.0

      Payment Method  Location Transaction Date
0        Credit Card  Takeaway       2023-09-08
1               Cash  In-store       2023-05-16
2        Credit Card  In-store       2023-07-19
3            UNKNOWN   UNKNOWN       2023-04-27
4     Digital Wallet  In-store       2023-06-11
...              ...       ...              ...
9995             NaN   UNKNOWN       2023-08-30
9996  Digital Wallet       NaN       2023-06-02
9997  Digital Wallet       NaN       2023-03-02
9998  Digital Wallet       NaN       2023-12-02
9999            Cash  In-store       2023-11-07

[10000 rows x 8 columns]

##### Discovering some useful information!

In [3]:
df_cafe.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_6170729,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

In [4]:
df_cafe.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [5]:
missing_data_percent_cafe = (df_cafe.isnull().sum()/df_cafe.shape[0])*100
missing_data_percent_cafe

Transaction ID       0.00
Item                 3.33
Quantity             1.38
Price Per Unit       1.79
Total Spent          1.73
Payment Method      25.79
Location            32.65
Transaction Date     1.59
dtype: float64

In [6]:
df_cafe.duplicated().sum()
# não tem duplicados.

np.int64(0)

##### Some Data Cleaning and Preprocessing

In [7]:
df_cafe[df_cafe.isnull().sum(axis=1)>1]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
23,TXN_2616390,Sandwich,2,4.0,8.0,NaN,NaN,2023-09-18
30,TXN_1736287,NaN,5,2.0,10.0,Digital Wallet,NaN,2023-06-02
44,TXN_1491578,Cookie,2,1.0,2.0,NaN,NaN,2023-02-23
...,...,...,...,...,...,...,...,...
9988,TXN_9594133,Cake,5,3.0,NaN,ERROR,NaN,NaN
9993,TXN_4766549,Smoothie,2,4.0,NaN,Cash,NaN,2023-10-20
9994,TXN_7851634,UNKNOWN,4,4.0,16.0,NaN,NaN,2023-01-08
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02

In [ ]:
df_filtered = df_cafe[df_cafe["Price Per Unit"] == "ERROR"]
df_filtered

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
68,TXN_8427104,Salad,2,ERROR,10.0,NaN,In-store,2023-10-27
196,TXN_3800182,Tea,2,ERROR,3.0,Cash,In-store,2023-10-26
212,TXN_9089898,Salad,3,ERROR,15.0,Credit Card,NaN,2023-01-11
213,TXN_8587583,Cake,1,ERROR,3.0,NaN,NaN,2023-10-01
289,TXN_3495950,NaN,4,ERROR,6.0,Credit Card,In-store,2023-02-19
...,...,...,...,...,...,...,...,...
9533,TXN_4434185,Smoothie,5,ERROR,20.0,Credit Card,Takeaway,2023-04-30
9605,TXN_9397870,Cake,2,ERROR,6.0,NaN,NaN,2023-05-23
9649,TXN_2509803,Coffee,1,ERROR,2.0,UNKNOWN,NaN,2023-02-22
9717,TXN_3334632,NaN,1,ERROR,2.0,Credit Card,Takeaway,2023-11-20
9753,TXN_3507013,Juice,1,ERROR,3.0,Digital Wallet,In-store,2023-01-16

In [9]:
df_cafe_only_price_and_item = df_cafe[["Price Per Unit", "Item", "Total Spent", "Quantity"]]
df_cafe_only_price_and_item.drop_duplicates()
## coffe = 2, cake = 3, cookie = 1, salad = 5, smoothie = 4, sandwich = 4, Juice = 3,Tea = 1.5
## se uma linha tiver mais que 3 valores nulos, pode ser excluida.

     Price Per Unit      Item Total Spent Quantity
0               2.0    Coffee         4.0        2
1               3.0      Cake        12.0        4
2               1.0    Cookie       ERROR        4
3               5.0     Salad        10.0        2
5               4.0  Smoothie        20.0        5
...             ...       ...         ...      ...
9819            NaN       NaN        20.0    ERROR
9820            NaN       NaN        15.0        5
9853            3.0      Cake       ERROR        1
9893            NaN     Juice       ERROR        2
9996            NaN       NaN         3.0        3

[661 rows x 4 columns]

In [10]:
df_cafe["Price Per Unit"].isna().sum()

np.int64(179)

##### Mapping Price Per Unit column with dict values discovered from data analysis.

In [11]:
df_coluna_nova_price_per_unit = df_cafe.copy()
df_coluna_nova_price_per_unit.drop("Price Per Unit", axis = 1)

preco_por_item = {
    "Coffee": 2.0,
    "Cake": 3.0,
    "Cookie": 1.0,
    "Salad": 5.0,
    "Smoothie": 4.0,
    "Sandwich": 4.0,
    "Juice": 3.0,
    "Tea": 1.5
}

df_coluna_nova_price_per_unit["Price Per Unit"] = df_coluna_nova_price_per_unit["Item"].map(preco_por_item)
df_coluna_nova_price_per_unit

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [12]:
df_coluna_nova_price_per_unit.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       969
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [13]:
df_coluna_nova_price_per_unit["Item"].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [14]:
df_coluna_nova_price_per_unit.loc[df_coluna_nova_price_per_unit["Item"] == "ERROR"]

df_coluna_nova_item = df_coluna_nova_price_per_unit.copy()
df_coluna_nova_item.drop("Item", axis = 1)

preco_por_item = {
    "Coffee": 2.0,
    "Cake": 3.0,
    "Cookie": 1.0,
    "Salad": 5.0,
    "Smoothie": 4.0,
    "Sandwich": 4.0,
    
    "Juice": 3.0,
    "Tea": 1.5
}

df_coluna_nova_item["Quantity"] = pd.to_numeric(
    df_coluna_nova_item["Quantity"], errors="coerce"
)

df_coluna_nova_item["Total Spent"] = pd.to_numeric(
    df_coluna_nova_item["Total Spent"], errors="coerce"
)

from collections import defaultdict

preco_para_item = defaultdict(list)

for item, preco in preco_por_item.items():
    preco_para_item[preco].append(item)

import numpy as np

def inferir_item(row, tol=0.01):
    item = row["Item"]

    if pd.isna(item) or item in ["ERROR", "UNKNOWN"]:
        if row["Quantity"] > 0:
            preco_unit = row["Total Spent"] / row["Quantity"]

            for preco, itens in preco_para_item.items():
                if np.isclose(preco_unit, preco, atol=tol):
                    if len(itens) == 1:
                        return itens[0]
                    else:
                        return "AMBIGUOUS"

    return item

df_coluna_nova_item["Item"] = df_coluna_nova_item.apply(inferir_item, axis=1)
df_coluna_nova_item

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3.0,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [15]:
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                  29
Quantity             479
Price Per Unit       969
Total Spent          502
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [16]:
df_coluna_nova_item_filtro = df_coluna_nova_item[
    df_coluna_nova_item["Item"].isna()
]
df_coluna_nova_item_filtro
## VERIFIQUEI QUE OS VALORES COMO NAN, ERROR E UNKNNOWN NA COLUNA "ITEM", NAO CONSEGUIMOS INFERIR, ENTÃO PODEMOS DAR O DROP NESSAS LINHAS.

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
699,TXN_6434414,NaN,1.0,NaN,NaN,Digital Wallet,Takeaway,2023-03-10
991,TXN_5651348,NaN,3.0,NaN,NaN,Cash,Takeaway,2023-11-04
1149,TXN_4090904,NaN,NaN,NaN,7.5,Digital Wallet,In-store,2023-08-04
1186,TXN_6191123,NaN,2.0,NaN,NaN,Digital Wallet,Takeaway,2023-03-01
1451,TXN_3195257,NaN,NaN,NaN,5.0,Cash,NaN,2023-10-09
1753,TXN_6306655,NaN,4.0,NaN,NaN,Digital Wallet,Takeaway,2023-01-22
1761,TXN_3611851,NaN,4.0,NaN,NaN,Credit Card,NaN,2023-02-09
2015,TXN_4449173,NaN,NaN,NaN,2.0,Digital Wallet,Takeaway,2023-04-05
2159,TXN_2130415,NaN,NaN,NaN,2.0,Digital Wallet,Takeaway,2023-12-08
2371,TXN_9181144,NaN,3.0,NaN,NaN,NaN,Takeaway,2023-10-25
2433,TXN_9601220,NaN,3.0,NaN,NaN,Digital Wallet,Takeaway,2023-04-20
2483,TXN_5203710,NaN,NaN,NaN,20.0,Digital Wallet,NaN,2023-04-22
2583,TXN_4328090,NaN,NaN,NaN,4.0,Digital Wallet,In-store,2023-04-18
3373,TXN_4465589,NaN,NaN,NaN,3.0,Credit Card,NaN,2023-03-26
4003,TXN_6119612,NaN,3.0,NaN,NaN,Cash,NaN,2023-12-25
4373,TXN_6843677,NaN,NaN,NaN,8.0,NaN,Takeaway,2023-09-09
4831,TXN_5926025,NaN,2.0,NaN,NaN,Digital Wallet,NaN,2023-07-29
5135,TXN_7677817,NaN,NaN,NaN,2.0,Credit Card,NaN,2023-01-17
5202,TXN_3575713,NaN,NaN,NaN,1.5,Cash,Takeaway,2023-02-18
5714,TXN_7263939,NaN,NaN,NaN,4.0,NaN,NaN,2023-08-08
5928,TXN_3442435,NaN,NaN,NaN,8.0,Digital Wallet,In-store,2023-04-01
6292,TXN_6884558,NaN,1.0,NaN,NaN,Cash,In-store,2023-08-14
7701,TXN_4466681,NaN,NaN,NaN,4.0,Cash,Takeaway,2023-01-12
7951,TXN_7465693,NaN,NaN,NaN,12.0,Digital Wallet,NaN,2023-09-04
8234,TXN_5108867,NaN,NaN,NaN,9.0,Cash,Takeaway,2023-03-19
8664,TXN_2273499,NaN,3.0,NaN,NaN,Cash,Takeaway,2023-01-27
9011,TXN_3749051,NaN,NaN,NaN,12.0,NaN,Takeaway,2023-04-19
9278,TXN_1166001,NaN,NaN,NaN,15.0,Cash,ERROR,NaN
9819,TXN_1208561,NaN,NaN,NaN,20.0,Credit Card,NaN,2023-08-19

In [17]:
df_coluna_nova_item.drop(
    df_coluna_nova_item[
        df_coluna_nova_item["Item"].isin(["UNKNOWN", "ERROR"]) |
        df_coluna_nova_item["Item"].isna()
    ].index,
    inplace=True
)
df_coluna_nova_item

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3.0,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [18]:
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                   0
Quantity             420
Price Per Unit       860
Total Spent          452
Payment Method      2551
Location            3228
Transaction Date     158
dtype: int64

In [19]:
df_coluna_nova_item

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4.0,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3.0,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [20]:
df_coluna_nova_item["Quantity"].unique()

array([ 2.,  4.,  5.,  3.,  1., nan])

In [21]:
df_coluna_nova_item_filtro2 = df_coluna_nova_item[
    df_coluna_nova_item["Quantity"].isna()
]
df_coluna_nova_item_filtro2

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
20,TXN_3522028,Smoothie,NaN,4.0,20.0,Cash,In-store,2023-04-04
55,TXN_5522862,Cookie,NaN,1.0,2.0,Credit Card,Takeaway,2023-03-19
57,TXN_2080895,Cake,NaN,3.0,3.0,Digital Wallet,In-store,2023-04-19
66,TXN_8501819,Juice,NaN,3.0,6.0,Cash,NaN,2023-03-30
117,TXN_2148617,Juice,NaN,3.0,9.0,Digital Wallet,UNKNOWN,2023-01-10
...,...,...,...,...,...,...,...,...
9932,TXN_8502079,Tea,NaN,1.5,3.0,Cash,NaN,2023-04-20
9935,TXN_9778251,Tea,NaN,1.5,6.0,NaN,Takeaway,2023-11-09
9944,TXN_7495283,Cake,NaN,3.0,15.0,Credit Card,Takeaway,2023-04-14
9957,TXN_6487003,Coffee,NaN,2.0,8.0,Credit Card,Takeaway,2023-11-15
9984,TXN_3142496,Smoothie,NaN,4.0,4.0,Cash,Takeaway,2023-07-27

In [22]:
df_coluna_nova_item

df_coluna_nova_item["Quantity"] = (
    df_coluna_nova_item["Total Spent"] / df_coluna_nova_item["Price Per Unit"]
)
df_coluna_nova_item
## transformar quantity em int

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,NaN,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [23]:
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                   0
Quantity            1312
Price Per Unit       860
Total Spent          452
Payment Method      2551
Location            3228
Transaction Date     158
dtype: int64

In [24]:
df_coluna_nova_item["Price Per Unit"].unique()

array([2. , 3. , 1. , 5. , 4. , nan, 1.5])

In [25]:
df_coluna_nova_item["Price Per Unit"] = df_coluna_nova_item["Item"].map(preco_por_item)
df_coluna_nova_item

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,NaN,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [26]:
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                   0
Quantity            1312
Price Per Unit       428
Total Spent          452
Payment Method      2551
Location            3228
Transaction Date     158
dtype: int64

In [27]:
df_coluna_nova_item["Item"].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'AMBIGUOUS',
       'Sandwich', 'Tea', 'Juice'], dtype=object)

In [28]:
df_coluna_nova_item.loc[
    df_coluna_nova_item["Item"] == "AMBIGUOUS",
    "Price Per Unit"
].value_counts(dropna=False)

Price Per Unit
NaN    428
Name: count, dtype: int64

In [29]:
df_coluna_nova_item

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,NaN,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [30]:
## Tem itens ambiguous - cake e juice -> 3.0
                        #Smoothie e Sandwich -> 4.0
# fazer um teste, retornar só o que está ambiguo, para ver o que podemos fazer.

filtro_ambiguo = df_coluna_nova_item[df_coluna_nova_item["Item"] == "AMBIGUOUS"]
filtro_ambiguo

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
6,TXN_4433211,AMBIGUOUS,NaN,NaN,9.0,ERROR,Takeaway,2023-10-06
8,TXN_4717867,AMBIGUOUS,NaN,NaN,15.0,NaN,Takeaway,2023-07-28
36,TXN_6855453,AMBIGUOUS,NaN,NaN,12.0,NaN,In-store,2023-07-17
61,TXN_8051289,AMBIGUOUS,NaN,NaN,3.0,NaN,In-store,2023-10-09
69,TXN_8471743,AMBIGUOUS,NaN,NaN,15.0,Digital Wallet,In-store,2023-04-06
...,...,...,...,...,...,...,...,...
9910,TXN_2338617,AMBIGUOUS,NaN,NaN,6.0,Digital Wallet,UNKNOWN,2023-01-12
9918,TXN_2292088,AMBIGUOUS,NaN,NaN,4.0,Digital Wallet,Takeaway,2023-03-04
9946,TXN_8807600,AMBIGUOUS,NaN,NaN,4.0,Cash,Takeaway,2023-09-24
9981,TXN_4583012,AMBIGUOUS,NaN,NaN,20.0,Digital Wallet,NaN,2023-02-27
9994,TXN_7851634,AMBIGUOUS,NaN,NaN,16.0,NaN,NaN,2023-01-08

In [31]:
mask_amb = df_coluna_nova_item["Item"] == "AMBIGUOUS"

df_coluna_nova_item.loc[
    mask_amb & (df_coluna_nova_item["Total Spent"] % 2 == 0),
    "Item"
] = "Sandwich"

df_coluna_nova_item.loc[
    mask_amb & (df_coluna_nova_item["Total Spent"] % 2 != 0),
    "Item"
] = "Cake"

df_coluna_nova_item

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,NaN,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [32]:
df_coluna_nova_item["Item"].unique()
#Não temos mais valores ambiguous
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                   0
Quantity            1312
Price Per Unit       428
Total Spent          452
Payment Method      2551
Location            3228
Transaction Date     158
dtype: int64

In [33]:
preco_por_item = {
    "Coffee": 2.0,
    "Cake": 3.0,
    "Cookie": 1.0,
    "Salad": 5.0,
    "Smoothie": 4.0,
    "Sandwich": 4.0,
    
    "Juice": 3.0,
    "Tea": 1.5
}

df_coluna_nova_item["Price Per Unit"] = df_coluna_nova_item["Item"].map(preco_por_item)
df_coluna_nova_item

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,NaN,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [34]:
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                   0
Quantity            1312
Price Per Unit         0
Total Spent          452
Payment Method      2551
Location            3228
Transaction Date     158
dtype: int64

In [35]:
df_nan_quantity = df_coluna_nova_item[df_coluna_nova_item["Quantity"].isna()]
df_nan_quantity

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
2,TXN_4271903,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-07-19
6,TXN_4433211,Cake,NaN,3.0,9.0,ERROR,Takeaway,2023-10-06
8,TXN_4717867,Cake,NaN,3.0,15.0,NaN,Takeaway,2023-07-28
14,TXN_8915701,Tea,NaN,1.5,3.0,NaN,In-store,2023-03-21
25,TXN_7958992,Smoothie,NaN,4.0,NaN,UNKNOWN,UNKNOWN,2023-12-13
...,...,...,...,...,...,...,...,...
9981,TXN_4583012,Sandwich,NaN,4.0,20.0,Digital Wallet,NaN,2023-02-27
9988,TXN_9594133,Cake,NaN,3.0,NaN,ERROR,NaN,NaN
9993,TXN_4766549,Smoothie,NaN,4.0,NaN,Cash,NaN,2023-10-20
9994,TXN_7851634,Sandwich,NaN,4.0,16.0,NaN,NaN,2023-01-08
9996,TXN_9659401,Cookie,NaN,1.0,3.0,Digital Wallet,NaN,2023-06-02

In [36]:
df_coluna_nova_item["Total Spent"] = pd.to_numeric(
    df_coluna_nova_item["Total Spent"], errors="coerce"
)

df_coluna_nova_item["Price Per Unit"] = pd.to_numeric(
    df_coluna_nova_item["Price Per Unit"], errors="coerce"
)

In [37]:
df_coluna_nova_item["Quantity"] = (
    df_coluna_nova_item["Total Spent"] / df_coluna_nova_item["Price Per Unit"]
)
df_coluna_nova_item

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2.0,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4.0,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,NaN,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2.0,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2.0,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2.0,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4.0,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3.0,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3.0,4.0,12.0,Cash,In-store,2023-11-07

In [38]:
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                   0
Quantity             452
Price Per Unit         0
Total Spent          452
Payment Method      2551
Location            3228
Transaction Date     158
dtype: int64

In [39]:
df_correcao_quantity_blank = df_coluna_nova_item[df_coluna_nova_item["Quantity"].isna()]
df_correcao_quantity_blank.dropna(subset=["Quantity"])

Empty DataFrame
Columns: [Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, Transaction Date]
Index: []

In [40]:
df_coluna_nova_item = df_coluna_nova_item.dropna(subset=["Quantity"])
df_coluna_nova_item
df_coluna_nova_item.isnull().sum()
# transformando em inteiro o quantity.
df_coluna_nova_item["Quantity"] = df_coluna_nova_item["Quantity"].astype(int)
df_coluna_nova_item

C:\Users\joaogsp\AppData\Local\Temp\ipykernel_30356\677804053.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coluna_nova_item["Quantity"] = df_coluna_nova_item["Quantity"].astype(int)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [41]:
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2431
Location            3077
Transaction Date     149
dtype: int64

In [42]:
df_coluna_nova_item["Payment Method"].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR', nan],
      dtype=object)

In [43]:
df_ajustes_payment_method = df_coluna_nova_item[df_coluna_nova_item["Payment Method"].isna()]
df_ajustes_payment_method
df_coluna_nova_item["Payment Method"] = (
    df_coluna_nova_item["Payment Method"].fillna("Credit Card")
)
df_coluna_nova_item

C:\Users\joaogsp\AppData\Local\Temp\ipykernel_30356\2256328559.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coluna_nova_item["Payment Method"] = (

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,Credit Card,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [44]:
df_coluna_nova_item.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method         0
Location            3077
Transaction Date     149
dtype: int64

In [45]:
df_coluna_nova_item["Payment Method"] = (
    df_coluna_nova_item["Payment Method"]
    .replace({
        "UNKNOWN": "Cash",
        "ERROR": "Digital Wallet"
    })
)
df_coluna_nova_item

C:\Users\joaogsp\AppData\Local\Temp\ipykernel_30356\4053676658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coluna_nova_item["Payment Method"] = (

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2,5.0,10.0,Cash,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,Credit Card,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3,1.0,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [46]:
df_coluna_nova_item["Payment Method"].unique()

array(['Credit Card', 'Cash', 'Digital Wallet'], dtype=object)

In [47]:
df_coluna_nova_item["Location"].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [48]:
df_coluna_nova_item["Location"] = (
    df_coluna_nova_item["Location"].fillna("In-store")
)
df_coluna_nova_item

C:\Users\joaogsp\AppData\Local\Temp\ipykernel_30356\2503184973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coluna_nova_item["Location"] = (

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2,5.0,10.0,Cash,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,In-store,2023-03-31
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,Credit Card,UNKNOWN,2023-08-30
9996,TXN_9659401,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,In-store,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [49]:
df_coluna_nova_item.isnull().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit        0
Total Spent           0
Payment Method        0
Location              0
Transaction Date    149
dtype: int64

In [50]:
df_coluna_nova_item["Location"] = (
    df_coluna_nova_item["Location"]
    .replace({
        "UNKNOWN": "Takaway",
        "ERROR": "Takeaway"
    })
)
df_coluna_nova_item

C:\Users\joaogsp\AppData\Local\Temp\ipykernel_30356\1561780577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coluna_nova_item["Location"] = (

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2,5.0,10.0,Cash,Takaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,In-store,2023-03-31
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,Credit Card,Takaway,2023-08-30
9996,TXN_9659401,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,In-store,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [51]:
df_coluna_nova_item["Transaction Date"].unique()

array(['2023-09-08', '2023-05-16', '2023-04-27', '2023-06-11',
       '2023-03-31', '2023-10-06', '2023-10-28', '2023-07-28',
       '2023-12-31', '2023-11-07', 'ERROR', '2023-05-03', '2023-06-01',
       '2023-03-21', '2023-11-15', '2023-06-10', '2023-02-24',
       '2023-03-25', '2023-01-15', '2023-04-04', '2023-03-30',
       '2023-12-01', '2023-09-18', '2023-06-03', '2023-04-20',
       '2023-04-10', '2023-03-11', '2023-06-02', '2023-08-15',
       '2023-10-09', '2023-05-28', '2023-07-17', '2023-04-29',
       '2023-06-08', '2023-06-29', '2023-04-17', '2023-12-22',
       '2023-10-02', '2023-02-23', '2023-03-22', '2023-11-03',
       '2023-03-02', '2023-06-26', '2023-05-02', '2023-09-05',
       '2023-01-08', '2023-03-15', '2023-11-25', '2023-12-05',
       '2023-03-19', '2023-06-27', '2023-04-19', '2023-10-07',
       '2023-09-30', '2023-05-27', '2023-11-18', '2023-10-03',
       '2023-10-27', '2023-04-06', '2023-01-31', '2023-12-08',
       '2023-06-19', '2023-12-14', '2023-07-16', '2023-02-22', nan,
       '2023-06-15', '2023-12-09', '2023-04-18', '2023-10-29',
       '2023-04-30', '2023-04-02', '2023-05-24', '2023-03-12',
       '2023-08-16', '2023-09-10', '2023-03-07', '2023-08-20',
       '2023-04-15', '2023-07-25', '2023-10-30', '2023-12-15',
       '2023-02-25', '2023-04-03', '2023-10-08', '2023-12-28',
       '2023-08-30', '2023-02-03', '2023-09-12', '2023-05-04',
       '2023-02-21', 'UNKNOWN', '2023-03-16', '2023-01-10', '2023-02-06',
       '2023-03-29', '2023-06-18', '2023-09-23', '2023-01-14',
       '2023-09-14', '2023-09-16', '2023-04-08', '2023-12-19',
       '2023-07-14', '2023-12-12', '2023-01-05', '2023-01-23',
       '2023-02-20', '2023-07-19', '2023-12-06', '2023-08-11',
       '2023-09-03', '2023-06-06', '2023-01-18', '2023-03-23',
       '2023-01-04', '2023-06-23', '2023-08-03', '2023-07-12',
       '2023-11-02', '2023-07-31', '2023-09-19', '2023-02-09',
       '2023-09-04', '2023-05-21', '2023-07-02', '2023-07-10',
       '2023-11-21', '2023-12-02', '2023-03-13', '2023-08-12',
       '2023-02-16', '2023-04-11', '2023-03-26', '2023-11-01',
       '2023-07-22', '2023-07-26', '2023-02-28', '2023-01-27',
       '2023-01-19', '2023-04-07', '2023-03-20', '2023-12-27',
       '2023-10-26', '2023-02-18', '2023-05-15', '2023-12-10',
       '2023-04-21', '2023-02-04', '2023-11-12', '2023-08-05',
       '2023-05-10', '2023-07-15', '2023-01-11', '2023-10-01',
       '2023-04-26', '2023-08-25', '2023-03-01', '2023-11-13',
       '2023-07-09', '2023-05-13', '2023-05-18', '2023-01-17',
       '2023-09-22', '2023-08-22', '2023-07-27', '2023-12-30',
       '2023-12-21', '2023-11-16', '2023-04-14', '2023-01-03',
       '2023-10-20', '2023-01-12', '2023-08-31', '2023-07-07',
       '2023-09-15', '2023-10-21', '2023-09-02', '2023-12-13',
       '2023-08-19', '2023-01-06', '2023-10-13', '2023-05-29',
       '2023-05-22', '2023-11-23', '2023-10-15', '2023-11-14',
       '2023-11-26', '2023-12-17', '2023-05-09', '2023-10-22',
       '2023-06-30', '2023-04-25', '2023-02-19', '2023-12-11',
       '2023-10-12', '2023-07-04', '2023-01-28', '2023-10-04',
       '2023-02-26', '2023-11-06', '2023-10-11', '2023-02-14',
       '2023-04-28', '2023-09-06', '2023-04-23', '2023-01-22',
       '2023-03-10', '2023-01-09', '2023-12-03', '2023-08-06',
       '2023-12-29', '2023-02-15', '2023-05-25', '2023-10-31',
       '2023-02-27', '2023-03-03', '2023-09-27', '2023-08-18',
       '2023-12-16', '2023-06-07', '2023-05-12', '2023-07-06',
       '2023-06-20', '2023-08-09', '2023-05-14', '2023-07-18',
       '2023-10-10', '2023-02-02', '2023-08-14', '2023-09-26',
       '2023-01-13', '2023-10-16', '2023-11-17', '2023-12-20',
       '2023-12-04', '2023-02-08', '2023-02-01', '2023-02-12',
       '2023-03-14', '2023-09-29', '2023-04-22', '2023-06-13',
       '2023-12-24', '2023-03-28', '2023-03-06', '2023-02-11',
       '2023-01-30', '2023-09-11', '2023-04-09', '2023-03-05',
       '2023-03-24', '2023-07-23', '2023-07-29', '2023-06-05',
       '2023-10-19', '2023-01-07', '2023-11-29', '2023-07-05',
       '2023-07-20', '2023-05-07', '2023-08-10', '2023-10-24',
       '2023-08-13', '2023-08-28', '2023-06-21', '2023-11-10',
       '2023-10-18', '2023-05-19', '2023-11-09', '2023-12-23',
       '2023-06-24', '2023-05-11', '2023-12-07', '2023-09-01',
       '2023-09-25', '2023-06-22', '2023-05-30', '2023-04-24',
       '2023-09-20', '2023-02-07', '2023-02-10', '2023-11-24',
       '2023-04-16', '2023-07-11', '2023-10-25', '2023-10-05',
       '2023-07-21', '2023-07-08', '2023-10-14', '2023-06-28',
       '2023-09-09', '2023-08-21', '2023-07-01', '2023-06-14',
       '2023-03-09', '2023-11-08', '2023-12-26', '2023-09-13',
       '2023-05-23', '2023-08-24', '2023-04-01', '2023-08-23',
       '2023-08-08', '2023-08-27', '2023-05-26', '2023-06-16',
       '2023-12-25', '2023-01-25', '2023-10-23', '2023-05-06',
       '2023-01-29', '2023-08-29', '2023-01-01', '2023-07-24',
       '2023-04-12', '2023-12-18', '2023-09-21', '2023-05-01',
       '2023-02-05', '2023-01-02', '2023-05-05', '2023-06-12',
       '2023-01-16', '2023-10-17', '2023-03-04', '2023-06-17',
       '2023-08-07', '2023-03-18', '2023-08-26', '2023-05-17',
       '2023-11-22', '2023-08-17', '2023-11-19', '2023-11-27',
       '2023-09-28', '2023-06-04', '2023-09-17', '2023-11-28',
       '2023-05-31', '2023-03-17', '2023-04-13', '2023-01-26',
       '2023-08-04', '2023-05-08', '2023-06-09', '2023-11-20',
       '2023-07-13', '2023-09-24', '2023-06-25', '2023-01-21',
       '2023-03-08', '2023-11-04', '2023-11-30', '2023-08-02',
       '2023-04-05', '2023-08-01', '2023-01-20', '2023-11-11',
       '2023-02-13', '2023-09-07', '2023-07-30', '2023-02-17',
       '2023-05-20', '2023-01-24', '2023-11-05', '2023-03-27',
       '2023-07-03'], dtype=object)

In [52]:
df_ajustes_transaction_date = df_coluna_nova_item[df_coluna_nova_item["Transaction Date"].isna()]
df_ajustes_transaction_date

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
77,TXN_2091733,Salad,1,5.0,5.0,Credit Card,In-store,NaN
104,TXN_7447872,Juice,2,3.0,6.0,Credit Card,In-store,NaN
160,TXN_1093800,Sandwich,3,4.0,12.0,Cash,Takeaway,NaN
175,TXN_6463132,Cookie,5,1.0,5.0,Credit Card,Takeaway,NaN
246,TXN_1908636,Tea,2,1.5,3.0,Credit Card,Takaway,NaN
...,...,...,...,...,...,...,...,...
9766,TXN_7390866,Tea,5,1.5,7.5,Credit Card,Takeaway,NaN
9769,TXN_9686177,Cake,3,3.0,9.0,Credit Card,In-store,NaN
9833,TXN_5536245,Smoothie,4,4.0,16.0,Cash,In-store,NaN
9885,TXN_4659954,Sandwich,3,4.0,12.0,Credit Card,In-store,NaN
9931,TXN_8344810,Smoothie,2,4.0,8.0,Credit Card,Takaway,NaN

In [53]:
df_coluna_nova_item["Transaction Date"] = (
    df_coluna_nova_item["Transaction Date"].fillna("2025-12-22")
)
df_coluna_nova_item

C:\Users\joaogsp\AppData\Local\Temp\ipykernel_30356\3336720285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coluna_nova_item["Transaction Date"] = (

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2,5.0,10.0,Cash,Takaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,In-store,2023-03-31
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,Credit Card,Takaway,2023-08-30
9996,TXN_9659401,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,In-store,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [54]:
df_coluna_nova_item.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [55]:
df_coluna_nova_item["Transaction Date"] = (
    df_coluna_nova_item["Transaction Date"]
    .replace({
        "UNKNOWN": "2025-12-22",
        "ERROR": "2025-12-22"
    })
)
df_coluna_nova_item

C:\Users\joaogsp\AppData\Local\Temp\ipykernel_30356\2745367016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coluna_nova_item["Transaction Date"] = (

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2,5.0,10.0,Cash,Takaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,In-store,2023-03-31
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,Credit Card,Takaway,2023-08-30
9996,TXN_9659401,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,In-store,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [56]:
df_coluna_nova_item.isna().value_counts()

Transaction ID  Item   Quantity  Price Per Unit  Total Spent  Payment Method  Location  Transaction Date
False           False  False     False           False        False           False     False               9439
Name: count, dtype: int64

In [57]:
dirty_cafe_sales_adjusted = df_coluna_nova_item.copy()

In [60]:
dirty_cafe_sales_adjusted["Transaction Date"] = pd.to_datetime(dirty_cafe_sales_adjusted['Transaction Date'])

In [62]:
dirty_cafe_sales_adjusted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9439 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9439 non-null   object
 1   Item              9439 non-null   object
 2   Quantity          9439 non-null   int64
 3   Price Per Unit    9439 non-null   float64
 4   Total Spent       9439 non-null   float64
 5   Payment Method    9439 non-null   object
 6   Location          9439 non-null   object
 7   Transaction Date  9439 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 663.7+ KB

#### Dataset adjusted: Dirty Cafe Sales Adjusted

In [66]:
dirty_cafe_sales_adjusted

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
3,TXN_7034554,Salad,2,5.0,10.0,Cash,Takaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,In-store,2023-03-31
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,Credit Card,Takaway,2023-08-30
9996,TXN_9659401,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,In-store,2023-03-02
9998,TXN_7695629,Cookie,3,1.0,3.0,Digital Wallet,In-store,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

In [68]:
dirty_cafe_sales_adjusted.to_excel("Dirty_Cafe_Sales_adjusted.xlsx", index = False)